<%- include("partials/header.ejs") %>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to List Creator,</h1>
      <p class="lead">This is a simple, easy to use and free list creator where you can make lists easily and keep them saved.</p>
      <hr class="my-4">
      <p>Login or Sign Up with us to get started</p>
      <a class="btn btn-info" href="#" role="button">Login</a>
      <a class="btn btn-dark" href="#" role="button">Sign Up</a>
    </div>
  </div>
<%- include("partials/footer.ejs") %>